﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="AdminMasterPage.master.cs" Inherits="AdminMasterPage" %>

<!DOCTYPE html>
<html>
<head runat="server">
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Propshop Realty</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
   <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <!--Let browser know website is optimized for mobile-->
      
       <!--Import jQuery before materialize.js-->
     <!-- Compiled and minified JavaScript -->
        <script src="resource/js/jquery.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
          



    <%--<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />--%>
   <%-- <link href="resource/css/bootstrap.min.css" rel="stylesheet" type="text/css" />--%>
    <%--<script src="resource/js/jquery.min.js" type="text/javascript"></script>--%>
    <%--<script src="resource/js/popper.min.js" type="text/javascript"></script>--%>
    <%--<script src="Scripts/bootstrap.js"></script>--%>
    <%--<script src="resource/js/bootstrap.min.js" type="text/javascript"></script>--%>
     <link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
   
<%--    <link href="Content/MyStyle.css" rel="stylesheet" />--%>
   
    <%--<link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.9/css/dataTables.bootstrap.min.css" />--%>
    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
   
    
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.material.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    
    <asp:ContentPlaceHolder ID="head" runat="server">
         
    </asp:ContentPlaceHolder>
    
   <style> 
        nav,.page-footer
    {
        background-color:#455a64;
        color:White;
    }
    </style>
     <script type="text/javascript">
         $(document).ready(function () {

             $(".button-collapse").sideNav();
         });
    </script>
   
   
</head>
<body>
    <form id="form1" runat="server">
        
        <div class="navbar-fixed">
<nav class="nav-extended">
   
    <div class="nav-wrapper">
      <a href="Home.aspx" class="brand-logo yellow-text">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a  href="sliderImg.aspx"><i class="material-icons left">image</i>SLider Image</a></li>
        <li> <a href="AdminSell.aspx"><i class="material-icons left">home</i>Sell Property</a></li>
        <li><a  href="Client.aspx"><i class="material-icons left">people</i>Clients</a></li>
        <li><a  href="AllProperty.aspx"><i class="material-icons left">location_city</i>All Property</a></li>
        <li><a  href="AboutUsForm.aspx"><i class="material-icons left">location_city</i>Aboutus</a></li>
        <li><a  href="AddServices.aspx"><i class="material-icons left">location_city</i>Services</a></li>
      <li> <a href="Inquiry.aspx"><i class="material-icons left">insert_comment</i>Inquiry</a></li>
     <li>         <asp:LinkButton  CssClass="nav-link" runat="server" ID="btnAdminlogout" OnClick="btnAdminlogout_Click">Logout</asp:LinkButton></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
       <li><a  href="sliderImg.aspx"><i class="material-icons left">image</i>SLider Image</a></li>
        <li> <a href="AdminSell.aspx"><i class="material-icons left">home</i>Sell Property</a></li>
        <li><a  href="Client.aspx"><i class="material-icons left">people</i>Clients</a></li>
        
      <li> <a class="nav-link" href="Inquiry.aspx"><i class="material-icons left">location_city</i>Inquiry</a></li>
     <li>         <asp:LinkButton  CssClass="nav-link" runat="server" ID="LinkButton1" OnClick="btnAdminlogout_Click">Logout</asp:LinkButton></li>
      </ul>
    </div>
    
  </nav>
 </div> 
        
    
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
       
    </form>
</body>
</html>
