﻿.mGrid {
    width: 100%;
    background-color: #fff;
    /*margin: 5px 0 10px 0;*/
    border: solid 1px #525252;
    border-collapse: collapse;

}

    .mGrid td {
        padding: 2px;
        border: solid 1px #c1c1c1;
        color: #45484d;
    }

    .mGrid th {
        padding: 4px 2px;
        color: #fff;
        background: #424242 url(../Images/grd_head.png) repeat-x top;
        border-left: solid 1px #525252;
        /*font-size: 0.9em;*/
        height: 20px;
    }

    .mGrid .alt {
        background: #fcfcfc url(../Images/grd_alt.png) repeat-x top;
    }

    .mGrid .pgr {
        background: #424242 url(../Images/grd_pgr.png) repeat-x top;
    }

        .mGrid .pgr table {
            margin: 5px 0;
        }

        .mGrid .pgr td {
            border-width: 0;
            padding: 0 6px;
            border-left: solid 1px #666;
            font-weight: bold;
            color: #fff;
            line-height: 12px;
        }

        .mGrid .pgr a {
            color: #666;
            text-decoration: none;
        }

            .mGrid .pgr a:hover {
                color: #000;
                text-decoration: none;
            }

.button_example {
    border: 1px solid #2a2c2f;
    cursor: pointer;
    width: auto;
    height: 25px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight: bold;
    color: #FFFFFF;
    background-color: #45484d;
    background-image: linear-gradient(to bottom, #45484d, #000000);
    }

    .button_example:hover {
        border: 1px solid #151617;
        background-color: #2d2f32;
        background-image: linear-gradient(to bottom, #2d2f32, #1a1a1a);
        }


.button_Panel {
    border: 1px solid rgb(142,11,0);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight: bold;
    color: #FFFFFF;
    background-color: rgb(142,11,0);
}

    .button_Panel:hover {
        border: 1px solid rgb(142,11,0);
        background-color: brown;
    }


.textbox {
    border: 1px solid #c4c4c4;
    height: 25px;
    width: 150px;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}

    .textbox:focus {
        outline: none;
        border: 1px solid #7bc1f7;
        box-shadow: 0px 0px 8px #7bc1f7;
        -moz-box-shadow: 0px 0px 8px #7bc1f7;
        -webkit-box-shadow: 0px 0px 8px #7bc1f7;
    }


.textarea {
    border: 1px solid #c4c4c4;
    height: 65px;
    width: 270px;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}

    .textarea:focus {
        outline: none;
        border: 1px solid #7bc1f7;
        box-shadow: 0px 0px 8px #7bc1f7;
        -moz-box-shadow: 0px 0px 8px #7bc1f7;
        -webkit-box-shadow: 0px 0px 8px #7bc1f7;
    }


.ddl {
    border: 1px solid #c4c4c4;
    height: 25px;
    width: 150px;
    font-family: Verdana;
    font-size: 11px;
    padding: 10px;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}

    .ddl:focus {
        outline: none;
        border: 1px solid #7bc1f7;
        box-shadow: 0px 0px 8px #7bc1f7;
        -moz-box-shadow: 0px 0px 8px #7bc1f7;
        -webkit-box-shadow: 0px 0px 8px #7bc1f7;
    }


.panalBG {
    vertical-align: middle;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 120px;
    width: 290px;
    margin: auto;
    background-color: #E1DDED;
    -webkit-box-shadow: #B3B3B3 7px 7px 7px;
    -moz-box-shadow: #B3B3B3 7px 7px 7px;
    box-shadow: #B3B3B3 7px 7px 7px;
    background: -webkit-linear-gradient(left top, silver, white); /* For Safari */
    background: -o-linear-gradient(bottom right, silver, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, silver, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, silver, white); /* Standard syntax (must be last) */
    padding: 7px;
}

.pageHead {
    background-color: #003E49;
    height: 25px;
    color: white;
}
.modalHead {
    background-color: #45484d;
    height: 25px;
    color: white;
    cursor:move;
    text-align:center;
    margin:5px;
}

.pageBox {
    vertical-align:top;
    min-height:150px;
    width: 96%;
    margin:auto;
    border: 1px solid black;
    padding: 0px;
    margin-top: 15px;
    margin-top: -1px;
    vertical-align: top;    
}
    .Modelpupup {
            width: 92%;
            margin: 0 0 10px 0;
            background: #ddd; /* Show a solid color for older browsers */
            background: -moz-linear-gradient(#fff, #ddd);
            background: -o-linear-gradient(#fff, #ddd);
            background: -webkit-linear-gradient(#fff, #ddd);
            -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
            -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
            border: 1px solid rgba(0,0,0,.3);
            border-radius: 7px 7px 7px 7px;
            -moz-border-radius: 7px 7px 7px 7px;
            -webkit-border: 7px 7px 7px 7px;
            /*padding: 0 15px 5px 13px;*/
            width: 100%; 
            border: 1px solid black; 
            /*padding:0px;*/ 
            border-radius:3px 4px; 
            margin-top: 15px; 
            margin-top: -1px; 
            height: 170px; 
            vertical-align: top;
            
        }
    .th{
        background-color:#2d2f32;
        color:#fff;
    }
    /* for footer set */
       .contact_info{
 
                 }

.contact_info li{
    list-style: none;
    margin-bottom: 10px;
}
.contact_social{
    margin-top: 5px;
    font-size: 35px;
}

.contact_social li{
    display: inline;
    margin-left: 15px;
}
#footer {
  bottom: -50px;
  height: 50px;
  left: 0;
  position: absolute;
  right: 0;
}

        .dropdown-submenu
        {
            position: relative;
        }
        
        .dropdown-submenu .dropdown-menu
        {
            top: 0;
            left: 100%;
            margin-top: -1px;
        }
        select
        {
            height: 3em !important;
        }
