#GB_overlay{background-color:#000;position:absolute;margin:auto;top:0;left:0;z-index:1000;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;}
#GB_window{left:0;font-size:1px;position:absolute;overflow:visible;z-index:150;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none; border: solid 1px #ccc; background: #fff;}
#GB_window .content{width:auto;margin:0;padding:0;}
#GB_frame{border:0;margin:0;padding:0;overflow:auto;white-space:nowrap;}
.GB_Gallery{margin:0 22px 0 22px;}
.GB_Gallery .content{background-color:#fff;border:3px solid #ddd;}
.GB_header{top:10px;left:0;margin:0;z-index:500;position:absolute;border-bottom:2px solid #555;border-top:2px solid #555;}
.GB_header .inner{background-color:#333;font-family:Arial, Verdana, sans-serif;padding:2px 20px 2px 20px;}
.GB_header table{margin:0;width:100%;border-collapse:collapse;}
.GB_header .caption{text-align:left;color:#ffffff;white-space:nowrap;font-size:20px;}
.GB_header .close{text-align:right;}
.GB_header .close img{z-index:500;cursor:pointer;}
.GB_header .middle{white-space:nowrap;text-align:center;}
#GB_middle{color:#eee;text-align:right;padding:6px 6px 0px 0px;}
#GB_middle img{cursor:pointer;vertical-align:middle;}
#GB_middle .disabled{cursor:default;}
#GB_middle .left{padding-right:0px;}
#GB_middle .right{padding-left:10px;}
/*.GB_Window .content{background-color:#fff;border:5px solid #2f4d73;border-top:none;}*/
.GB_Window .content{}
/*.GB_Window .header{border-color:#898989;border-style:solid;border-width:0 3px;color:#272727;font-size:12px;font-weight:bold;height:37px;margin:0;background:url(header_bg.png) repeat !important;} */
.GB_Window .header{font-size:12px;font-weight:bold;margin:0;}
/*.GB_Window .caption{padding:3px 0 0 7px;font-size:19px;text-align:left;color:#272727;font-weight:normal;}*/
.GB_Window .caption{}

#userProfileListing .GB_Window .caption {padding-left:10px;}
.GB_Window .caption {padding-left:10px;}

/*.GB_Window .close a{color:#272727;} */
.GB_Window .close{text-align:right;width:60px;}
.GB_Window .close span{font-size:12px;}
.GB_Window .close img{width:16px;height:16px; ;cursor:pointer; float:right; margin: 8px 8px 0 0;}
.GB_Window .close img{width:16px;height:16px; ;cursor:pointer; float:right; margin: 8px 8px 0 0;}
.GB_Window.propertyDetailGreyBox .header .close img{margin: 8px 8px 0px 0 !important;}

#GB_window.propertyDetailGreyBox {border:none;}
 
.GB_Window .on{color:#0165a1;cursor:pointer}
.GB_Window .click{border-bottom:0px solid #333;}
#didYouMeanContainer{width:985px;margin:0 auto 0px 5px;}
#didYouMeanContainer .leftCorner{width:5px;height:35px;float:left;overflow:hidden;}
#didYouMeanContainer .rightCorner{width:5px;height:35px;float:right;overflow:hidden;}
#didYouMeanContainer .dymContent{margin:0px 10px;padding-top:15px;color:#454545;}
#didYouMeanContainer .dymContent .showingRF span{color:#cc0000;}
#didYouMeanContainer .dymContent .dymOptions a{color:#054aa9;text-decoration:none;}
#didYouMeanContainer .dymContent .dymOptions a:hover{text-decoration:underline;}
#didYouMeanContainer .dymContent .showingRF{font-size:16px;font-weight:700;}
#didYouMeanContainer .dymContent .dymOptions{font-size:13px;padding-top:5px;}
#didYouMeanContainer .dymContent .devider{color:#a3a3a3;font-size:17px;padding:0px 8px;}
.fLeft{float:left;}
.fRight{float:right;}
.nsrHeading{background-image:url(../images/nsrHeadingBg.gif);padding:16px 0px 8px 15px;color:#cc0000;font-size:18px;font-weight:bold;}
.zeroSearch{background-image:url(../images/nsrZSearchResult.gif);padding:2px 15px 0px 15px;background-repeat:no-repeat;}
.zeroSearchRemoveCritaria{padding:2px 15px 0px 0px;background-repeat:no-repeat;_margin-bottom:30px;background-position:left bottom;}
.zSearchH{font-weight:700;}
.zeroSearch .zeroSearchContent{font-size:12px;font-weight:100;padding-bottom:20px;line-height:22px;}
.zeroSearch .zeroSearchContent span{font-weight:700;}
.zeroSearch .zeroSearchContent img{margin-top:-2px;}
.zeroSearchRemoveCritaria .zeroSearchContent img{margin-top:-1px;}
.zeroSearchRemoveCritaria .zeroSearchContent{font-size:12px;line-height:22px;}
.zeroSearchRemoveCritaria .zeroSearchContent h1{margin:0;padding:0;line-height:18px;font-size:11px;font-weight:normal;display:inline}
.zeroSearch .saveHeading{font-weight:bold;font-size:12px;color:#333;text-transform:uppercase;padding:5px 0px 4px 7px;}
.zeroSearch .nsrContainerBg{background:url(../images/nsrSaveResultContainerBg.gif) top left repeat-x !important;}
.zeroSearch .nsrContainerBg .leftCorner{background:url(../images/nsrSaveResultContainerCorner.gif) top left;width:5px;height:6px;float:left;}
.zeroSearch .nsrContainerBg .rightCorner{background:url(../images/nsrSaveResultContainerCorner.gif) top right;width:5px;height:6px;float:right;background-position:-5px 0px;}
#noSearchResultContainer .zeroSearch .nsrSaveQuerySection{float:left;width:785px;background:url(../images/nsrSaveResultContainerBg.gif) top left repeat-x;}
#noSearchResultContainer .zeroSearch .nsrSaveQuerySection p{padding-right:15px;}
.nsrContainerBg .nsrSaveQuerySection img{}
.rmSpace{margin-right:5px !important;}
#noSearchResultContainer{width:834px;margin:0px auto;color:#333333;}
#noSearchResultContainer .hFeatProjectWrap{color:#383737;font-size:11px;margin-bottom:10px;width:834px;}
.hHeading{background:url("../images/nsr-h-head-bg.gif") no-repeat scroll left top transparent;color:#BB0C13;font-size:13px;padding:15px;}
.hHeading h2, #hCenterWrap .hHeading h3{color:#888888;display:inline;font-weight:normal;}
.hFeatProjectWrap .content{line-height:16px;padding:0 0 0 15px;}
.hFeatProjectWrap .content .colmargin{margin-right:25px;}
.hFeatProjectWrap .content .columnContent{float:left;width:182px;}
.hHeading h2, #noSearchResultContainer .hHeading h3{color:#888888;display:inline;font-weight:normal;}
#innerhCenterWrap{}
.hHeading{color:#BB0C13;font-size:13px;}
.hHeading span{color:#888888;}
.nsrRemoveSection{margin:15px 16px 15px 16px;_margin:-15px 16px 15px 16px;border-top:solid 1px #f0f0f0;clear:both;padding-top:12px;padding-top:8px;color:#454545}
.nsrRemoveSection .noAndDel{font-size:12px;font-weight:700;padding-bottom:8px;}
.nsrRemoveSection .noAndDel span{color:#cc3333;}
.nsrRemoveSection .displaying{font-size:10px;color:#858484;}
.alsoSee{font-size:12px;color:#b2afaf;}
.alsoSee label{font-weight:700;color:#333;padding-right:5px;}
.alsoSee span{padding:0px 5px;}
.alsoSee a{color:#0165a1;text-decoration:underline;font-weight:700;}
.alsoSee a:hover{text-decoration:none;}
.moreInCity{margin-top:10px;text-align:center;}
.zeroSearch .nsrSaveQuerySection #reqPost{margin:0px 5px 0px 5px !important}
#noSearchResultContainer .nsrSaveQuerySection .hotproperties{padding:0px !important;}
.zeroSearch .zeroSearchContent h1{display:inline;font-size:12px;color:#333333;font-weight:100;}
.incNearbyLocality{font-size:12px;}
#noSearchResultProjectContainer{width:810px;_width:810px;margin:0px auto;_margin:0px;color:#333333;}
#noSearchResultProjectContainer .hotproperties span{margin:0 12px 0 5px;padding:10px 5px;}
#projectSearch #noSearchResultProjectContainer .hotproperties span{margin:0 12px 0 0px;padding:10px 0px;}
#noSearchResultProjectContainer .nsrHeading{background-image:url("../images/nsrHeadingBgSmall.gif");}
#noSearchResultProjectContainer .zeroSearch{background-image:url(../images/nsrZSearchResultSmall.gif);}
img{border:0;padding:0;}
form{padding:0px;margin:0px;}
#propertySearch .zeroSearch .nsrContainerBg{_height:110px;}
.nsrSearchPage{background:#e64501 url(../images/myBrightBtnBg.gif) left top repeat-x;border:1px solid #B14A1F;border-radius:3px 3px 3px 3px;color:#FFFFFF;display:block;font-weight:700;line-height:17px;margin:10px 6px;padding:5px 10px;text-decoration:none;font-size:15px;}
.nsrSearchPage a{color:#FFF;text-decoration:underline}
.nsrSearchPage a:hover{text-decoration:none}


#GB_overlay.mbLocalityPhotoOverlay{background-color:#000000; opacity:.9 !important; filter:alpha(opacity=90) !important; z-index:1000;}
#GB_frame.mbLocalityPhoto, #GB_top_frame.mbLocalityPhoto {background:transparent !important;}
#GB_window.mbLocalityPhoto #GB_top_frame{background:#ffffff; border:4px solid #B6B6B6;}
#GB_window.mbLocalityPhoto {background:transparent; box-shadow:none !important; z-index: 1003; border:none;}
#GB_window.mbLocalityPhoto .header {background: none !important; color: #e31114; font-size: 24px; font-weight: 700; border:none; height:0px;}
.GB_Window.mbLocalityPhoto .caption{color: #e31217 !important; font-size: 19px !important; font-weight: normal !important; padding:5px 0 0;}
#GB_window.mbLocalityPhoto {box-shadow: 0 0 3px 3px #666666; z-index: 1003;}
.GB_Window.mbLocalityPhoto .close{ text-align: right; width: 60px; cursor: pointer; vertical-align: top; }
.GB_Window.mbLocalityPhoto .close span{padding-top: 2px; display: inline-block; color:#272727; font-family:tahoma !important; font-size:0px;}
.GB_Window.mbLocalityPhoto .close img{magin-right: 5px; vertical-align: top; padding-top: 3px !important; opacity:0; filter: alpha(opacity=0); width:35px; height:39px;}
#GB_window.mbLocalityPhoto .header .caption{padding: 13px 0 0 23px;}
.GB_Window.mbLocalityPhoto .content {border:none;}
.GB_Window.mbLocalityPhoto .close div {width:35px; height:39px; position:absolute; top:7px; right:0px; background:url(../greybox/popupcloseImg.png)left top no-repeat;}
#GB_window.mbLocalityPhoto .content {background:transparent !important;}

#GB_window.GB_WindowFull{margin-top:-11px;}
.GB_Window.GB_WindowFull .close div{top:16px; width:auto; height:auto; background:url(../greybox/gbCloseIcon.png) 36px 9px no-repeat;}
.GB_Window.GB_WindowFull .close span{font-size:13px; color:#b2b2b2; font-weight:normal;}
.GB_Window.GB_WindowFull #GB_top_frame{background:transparent !important; border:none !important;}
.GB_Window .close div span{display: none;}

#GB_frame body{background: #fff;}
#mfForum #GB_overlay {z-index:999;}
#mfForum #GB_top_frame {margin-left:12px;}